.page-header {
    background-color: #41110a;
  }
  
  .cabecalho img {
    width: 110px;
    margin: 40px;
  }
  
  .cabecalho {
    display: flex;
    align-items: center;
  }
  
  .cabecalho h1 {
    color: white;
  }